.message {
    margin-top: 5px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.contact-section {
    text-align: left;
}

.form-container {
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
